body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bars-chart {
  height: 200px;
  border-bottom: 1px solid;
  border-radius: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-end;
}

.bars-chart > div {
  width: 50px;
  position: relative;
  background-color: blue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.planet-name-bar {
  position: absolute;
  bottom: -25px;
}

.planet-amout-bar {
  position: absolute;
  top: -25px;
}